/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-size: 13px;
}

body {
  background-image: url('/assets/images/background_@2X.png');
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

em {
  background-color: gold;
  font-weight: bold;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
h2 {
  margin:0;
}

button {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 7px 40px;
  font-size: 14px;
  font-weight: bold;
  background-color: #eee;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

label {
  padding: 2px 10px;
  border-radius: 3px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}

label.refined, label:hover {
  background-color: #1C688E;
  color: white;
}

.yellow {
  color: #fcb09a;
}

.grey {
  color: #ccc;
}

.clickable {
  cursor: pointer;
}

#map { height: 600px; width: 600px; }
#map.visible { position: relative; }
#map.hidden { position: absolute; left: -200vw }

.facet-data-name {
  flex-basis: 70%;
  width: 70%;
}

.app-main-container {
  width: 80%;
  margin: 80px auto;
  -webkit-box-shadow: 0px 13px 18px -6px rgba(133,133,133,1);
  -moz-box-shadow: 0px 13px 18px -6px rgba(133,133,133,1);
  box-shadow: 0px 13px 18px -6px rgba(133,133,133,1);
  height: calc(100vh - 160px);
}

.app-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: calc(100vh - 80px - 160px);
}

.searchbox-container {
  background-color: #1C688E;
  padding: 20px;
  z-index: 2;
  border-radius: 6px 6px 0 0;  
}

.searchbox-container input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: #939393;
  border-radius: 6px;
  border: none;
}

.refinementlist-filter-toggle {
  text-decoration: underline;
  color: #aaa;
}

app-refinementlist {
  width: 30%;
  flex-basis: 30%;
  padding: 10px;
  background-color: #fff;
  border-right: 1px solid #dadada;
  overflow: auto;
}

app-results {
  padding: 20px;
  width: 70%;
  flex-basis: 70%;
  background: #fff;
  flex-grow: 1;
  overflow: auto;
}

.mobile-closemap { display: none; }

@media screen and (max-width: 768px) {
  .app-main-container {
    width: 100%;
    margin: 0;
  }

  .searchbox-container {
    border-radius: 0;
  }

  app-refinementlist.inactive {
    display: none;
  }

  app-refinementlist.active {
    display: block;
  }

  .app-content, app-refinementlist, app-results {
    height: auto;
  }

  #map.visible { height: 100vh; width: 100vw; position: fixed !important; top: 0; left: 0; z-index: 2 }
  #map.visible + .mobile-closemap { 
    display: inline-block; 
    position: fixed; 
    top: 40px; 
    right: 20px; 
    z-index: 3;
    padding: 5px;
    border-radius: 10px;
    background: white; 
  }
}

@media screen and (min-width:769px) {
  .refinementlist-filter-toggle {
    display: none;
  }
}